body{
	background-color: #333333;
}

.my-nav{
	background-color: #787878;
	width:100%;
}

.container{
	float:left;
	margin-left: 40%;
	margin-top:10%;
	width: 100%;
}

.form-outer{
	position: fixed;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	height: auto;
	padding: 40px 60px;
	background-color: #0C71E0;
	border-radius: 25px;
}

#register-button{
	margin-left: 100px;
}

#login-fields{
	margin-top: 50%;
	justify-content: center;
	
}

#email {
	color: white;
	font-size: 20px;
}

#password {
	color: white;
	font-size: 20px;
}

.form-input {
	width: 230px;
	padding-top: 9px 0px;
	padding-left: 5px;
	border: none;
	background-color: lightgrey;
	border-radius: 5px;
}

.form-group {
	width: 350px;
}

button {
	color: white;
	width: 130px;
}

.btn-primary {
	background-color: #152238;
	border: none;
	margin-top: 10%;
	margin-left: 31%;
}

a {
	color: white;
	font-size: 20px;
	text-decoration: none;
}

a:hover, a:focus, a:active {
	color: lightgrey;
}

#login-fields {
	margin-top: 10%;
}

.link {
	margin-left: 20%;
}

#link1 {
	padding-right: 20%;
}


.btn-primary:hover{
	background-color: #23395d;
}

#flexStuff {
	display: flex;
}


