body{
	background-color: #467878;
}

.my-nav{
	background-color: #787878;
	width:100%;
}

.container{
	float:left;
	margin-left: 40%;
	margin-top:10%;
}

.login-form{
	background-color: black;
	width:750px;
	height:750px;
	margin-left: 25%;
	margin-top:-8%;
	opacity: 50%;

}

.form-container{
	background-color: green;
	margin-left: 60%;
	margin-top:10%;

	width:400px;
	height:400px;


}
#me{
	margin-top: 50%;
	justify-content: center;
	background-color: black;
	
}
